MONGODB_URI = mongodb+srv://rohitaware69:rohit123@ecommerce.mtv1z.mongodb.net/Ecommerce?retryWrites=true&w=majority&appName=Ecommerce
TOKEN_SECRET_KEY = "qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm"
FRONTEND_URL = http://localhost:3000